body {
  margin: 15% 10% 0 10%;
}

.title {
  text-align: center;
  font-size: 4vw;
}

.form-control{
  margin: 5% 20% 0 20%;
  font-size: 1.3vw;
}

.btn{
  background-color:#F1F7F7;
  color: black;
  height:3vw;
  font-size: 1.3vw;
}
.btn:disabled {
  background-color:#f1f6f7;
  color: black;
}


.buttons{
  margin: 5% 20% 0 20%;
  position: center;
  box-sizing: border-box;
}

.buttons > button {
  border: none;
  margin-left: 8vw;
}


.result_paragraphe{
  font-size: 1vw;
}
.result_data{
  color: blue;
  font-size: 1.5vw;
  margin-bottom: 5%;
}

.img{
  margin: 0 45% 0 45%
}
